*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color:#eeeeee;
}
header .logo{
    margin-top: 2%;
    margin-left:2%;
    float: left;
    font-size: 2rem;
}


header h1{
    text-align: center;
    margin-top: 2%; 
}

header span{
    margin-top: 2%;
    float: right;
    padding-right: 3%; 
}

nav{
    margin-top:5%;
}
#navbarColor01{
    color:blue;
}

.dropbtn {
    background-color:#b2dfdb;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}

.corpo{
    background-color: N/A;
    border-radius:1.2%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius:1.2%;
    -moz-border-radius:1.2%;
    -ms-border-radius:1.2%;
    -o-border-radius:1.2%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #26a69a;}
.sair:hover {background-color: #26a69a;}
nav{
 background-color: #b2dfdb ;
}
ul li{
  text-align: center;
}



/* js lista */
.invisivel{
    background: red;
    display: none;
}